HighOmega.sdf
*.tlog
*.idb
*.ipdb
*.iobj
*.VC.*
*.ipch
HighOmega/highomega_log.txt
*.obj
*.matdf
*.ktx
*.exe
*.suo
*.pdb
*.log
*.user
*.ilk
.vs/**
hooks/**
lfs/**
HighOmega/x64/Release/HighOmega.exe.recipe
